.jobs-list-container {
    padding: 1em;
}

.ant-list-vertical .ant-list-item{
    margin: 1em 0;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    padding: 10px;
}

.jobs-list-container .ant-list-item-meta-title {
    font-size: medium;
    font-weight: bold;
}

.jobs-list-container .ant-list-item-meta-description {
    font-size: medium;
}