.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.login-container .card {
    height: fit-content;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.login-form {
    max-width: 80vw;
    width: 400px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}